/* HTML tags */
@font-face {
  font-family: 'ProximaNova-Thin';
  src: url('../fonts/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Thin.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Thin.woff') format('woff'), url('../fonts/ProximaNova-Thin.ttf')  format('truetype'), url('../fonts/ProximaNova-Thin.svg#ProximaNova-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaWebBasicLight';
  src: url('../fonts/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/KlavikaWebBasicLight.otf')  format('opentype'),
	     url('../fonts/KlavikaWebBasicLight.woff') format('woff'), url('../fonts/KlavikaWebBasicLight.ttf')  format('truetype'), url('../fonts/KlavikaWebBasicLight.svg#KlavikaWebBasicLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	background: #EDEDED;
	margin:0;
	font-family: 'KlavikaWebBasicLight', 'ProximaNova-Thin', 'Helvetica', 'Arial', 'Sans-serif';
}
img {
	border: none;
}

:focus {
	outline: 0;
}

/* ID tags */
#container {
	position: relative;
	padding-top: 30px;
	margin: 0 auto;
}
#bottom {
	clear: both;
	height: 56px;
	margin: -39px 0 0 0;
}
#content {
	position: relative;
	padding: 0;
}
#info {
	position: absolute;
	top: 30%;
	left: 0;
}
#info span {
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	padding: 12px 14px 10px 14px;
	margin-bottom: 8px;
	display: inline-block;
}
#info h1{
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 30px;
	font-weight: normal;
}
#info p {
	font-size: 13px;
	color: #333;
	float: left;
	display: block;
	margin: 4px 0 0 0;
	*margin:1px 0 0 0;
}
#info .desc {
	float: right;
	width:455px;
}

#project_description{
	font-weight: normal !important;
	background: #EA321D;
	color: #FBD6D2;
}

#movies_container {
	position: relative;
	height: 160px;
	overflow: hidden;
}
#movies_cover {
	position: absolute;
	z-index: 500;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background:transparent url(../images/image.png) center top repeat-y;
	height: 137px;
}

#movies {
	width: 120024px;
	height: 137px;
	margin: 0 auto;
	position: absolute;
	top:0;
	z-index: 5;
	left: 30px;
}

#center {
	position: relative;
	margin: 0 auto;
	width:642px;
	height: 340px;
	display: block;
	*margin:0 0 0 195px;
}

#feature {
	position: relative;
	width:645px;
	height: 362px;
	margin: 0 auto 20px;
}

.audio #center{
	height: 420px;
}

.audio #feature{
	margin: 30px 0 100px 0 !important;
	height: 420px;
}

#sotester {
	margin:-53px 0 0 0px;
}

#title {
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	color:#999;
	font-weight: bold;
}

#nav {
	position: absolute;
	z-index: 20;
	top:0;
	padding: 0 12px 0 0;
	right: 12px;
	background:#FFF url(../images/nav_bg.jpg) right top no-repeat;
	width: 160px;
	height: 253px;
}
#nav a {
	width: 160px;
	height: 31px;
	margin: 16px 0px 0 0;
	display: block;
	float: right;
	clear: right;
}
#nav a:hover {
	background-position: right top;
}
#nav a.selected {
	background-position: right top;
	width:31px;
	margin-left:129px; 
}

#leftBox {
	position: absolute;
	top: 365px;
	*top:417px;
	left:12px;
	width:240px;
	height: 180px;
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), #EDEDED 20%);
	z-index: 40;
}

#rightBox {
	position: absolute;
	top: 365px;
	*top:417px;
	right:12px;
	width:240px;
	height: 180px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #EDEDED 20%);
	z-index: 41;
}

.result {
	display: block;
	float: left;
	padding: 0 36px 0 0;
}
.result div {
	font-family: 'Helvetica Neue', 'Helvetica', Sans-serif;
	font-size: 14px;
	color: #000;
	margin: 2px 0 0 0;
}


/* Classes */
.wrap {
	width: 1048px;
	margin: 0 auto;
	position: relative;
}
.logo {
	width:115px;
	position: absolute;
	top: 0;
	left: 0;
}
.right { float: right; }

.speaker { background: transparent url(../images/icon_speaker.gif) right bottom no-repeat; }
.talent { background: transparent url(../images/icon_talent.gif) right bottom no-repeat; }
.film { background: transparent url(../images/icon_film.gif) right bottom no-repeat; }
.meetings { background: transparent url(../images/icon_meeting.gif) right bottom no-repeat; }
.motion { background:transparent url(../images/icon_motion.gif) right bottom no-repeat; }




/* video overlay */
#video-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	cursor: pointer;
	z-index: 1;
}

#video-cover img {
	width: 65px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}



